.currency {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 25px;
    width: 800px;
    height: 100px;
    background-color: #1b1b32;
    border: 1px solid red;
    border-radius: 50px;
    color: white;
}

.currency__label {
    padding: 0;
    margin: 0;
    text-align: center;
}

.currency__submit {
    padding: 5px 15px;

}

.currency__select {
    padding: 6px 15px;
}

.currency__form fieldset {
    border: none;
}