.converter {
    margin: 0 auto 25px;
    width: 800px;
    background-color: #1b1b32;
    color: white;
    border: 1px solid red;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.converter__form fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
}

.converter__currency {
    margin-top: 10px;
}

.converter__value {
    border-radius: 10px;
    margin-right: 10px;
}

.converter__calculate {
    border-radius: 10px;
}