.list {
    margin: 0 auto;
    width: 800px;
    min-height: 200px;
    background-color: #1b1b32;
    color: white;
    border: 1px solid red;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

.list__title {
    margin: 15px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.list__default-currency {
    padding: 0;
    margin: 0 0 0 5px;
}

.list__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.list__currency {
    display: flex;
    margin: 0 10px;
    padding: 5px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 2px solid orangered;
    border-radius: 20px;
    background-color: rgb(77, 62, 143);
    color: black;
}

.list__value {
    padding: 0;
    margin: 0 15px 0 0;
}

.list__name {
    padding: 0;
    margin: 0;
}